<div id=sigContainer>
  <div class="modal-header">
    <h3 class="modal-title">Sign</h3>
  </div>
  <div class="modal-body">
    <signature-pad #sigPad accept="accept" clear="clear" [options]="signaturePadOptions"></signature-pad>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default pull-left" (click)="sigPad.clear()">Clear signature</button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    <button class="btn btn-primary" ng-click="done()">Sign</button>
  </div>
</div>