<table>
  <tr>
    <th>Student Name</th>
    <th>gender</th>
    <th>country</th>
    <th>city</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>
      <input type="text" [(ngModel)]="newStudent.name" />
    </td>
    <td>
      <select [(ngModel)]="newStudent.gender">
        <option value="m">Male</option>
        <option value="f">FeMale</option>
      </select>
    </td>
    <td>
      <input type="text" [(ngModel)]="newStudent.country" />
    </td>
    <td>
      <input type="text" [(ngModel)]="newStudent.city" />
    </td>
    <td>
      <button (click)="addStudent()">Add</button>
    </td>
    <td>
      <button (click)="clearNewStudent()">Cancel</button>
    </td>
  </tr>
  <tr *ngFor="let student of students" [attr.data-id]="student.id">
    <td>
      <input type="text" *ngIf="student.editing" [(ngModel)]="oldStudent.name" />
      <span *ngIf="!student.editing">
        {{student.name}}
      </span>
    </td>
    <td>
      <select *ngIf="student.editing" [(ngModel)]="oldStudent.gender">
        <option value="m">Male</option>
        <option value="f">FeMale</option>
      </select>
      <span *ngIf="!student.editing">{{student.gender=='m'?'Male':'Female'}}</span>
    </td>
    <td>
      <input type="text" *ngIf="student.editing" [(ngModel)]="oldStudent.country" />
      <span *ngIf="!student.editing">{{student.country}}</span>
    </td>
    <td>
      <input type="text" *ngIf="student.editing" [(ngModel)]="oldStudent.city" />
      <span *ngIf="!student.editing">{{student.city}}</span>
    </td>
    <td>
      <button *ngIf="student.editing" (click)="updateStudent();student.editing=false">Update</button>
      <button *ngIf="!student.editing" (click)="student.editing=true;getStudent(student.id);">Edit</button>
    </td>
    <td>
      <button *ngIf="student.editing" (click)="student.editing=false">Cancel</button>
      <button *ngIf="!student.editing" (click)="deleteStudent(student.id)">Delete</button>
    </td>
  </tr>
</table>
<hr>
<table>
  <tr>
    <th>Last Sync</th>
    <th>name</th>
    <th>documentId</th>
    <th>lineId</th>
    <th>qtyOrdered</th>
    <th>qtyRejected</th>
    <th>rejectReason</th>
    <th>cash</th>
    <th>delivered</th>
    <th>deliveryTime</th>
    <th>signature</th>
    <th>updated</th>
    <th></th>
  </tr>

  <tr *ngFor="let delivery of deliveries" [attr.data-id]="delivery.id">
    <td>
      <input type="text" *ngIf="delivery.editing" [(ngModel)]="oldDelivery.lastSync" />
      <span *ngIf="!delivery.editing" >{{delivery.lastSync}}</span>
    </td>
    <td>
        <input type="text" *ngIf="delivery.editing" [(ngModel)]="oldDelivery.name" />
      <span *ngIf="!delivery.editing">{{delivery.name}}</span>
    </td>
    <td>
      <input type="text" *ngIf="delivery.editing" [(ngModel)]="oldDelivery.documentId" />
      <span *ngIf="!delivery.editing">{{delivery.documentId}}</span>
    </td>
    <td>
       <input type="text" *ngIf="delivery.editing" [(ngModel)]="oldDelivery.lineID" />
      <span *ngIf="!delivery.editing">{{delivery.lineId}}</span>
    </td>
    <td>
      <input type="text" *ngIf="delivery.editing" [(ngModel)]="oldDelivery.qtyOrdered" />
      <span *ngIf="!delivery.editing">{{delivery.qtyOrdered}}</span>
    </td>
    <td>
      <input type="text" *ngIf="delivery.editing" [(ngModel)]="oldDelivery.qtyRejected" />
      <span *ngIf="!delivery.editing">{{delivery.qtyRejected}}</span>
    </td>
     <td>
      <input type="text" *ngIf="delivery.editing" [(ngModel)]="oldDelivery.rejectReason" />
      <span *ngIf="!delivery.editing">{{delivery.rejectReason}}</span>
    </td>
    <td>
      <input type="text" *ngIf="delivery.editing" [(ngModel)]="oldDelivery.cash" />
      <span *ngIf="!delivery.editing">{{delivery.cash}}</span>
    </td>
    <td>
      <input type="text" *ngIf="delivery.editing" [(ngModel)]="oldDelivery.delivered" />
      <span *ngIf="!delivery.editing">{{delivery.delivered}}</span>
    </td>
    <td>
      <input type="text" *ngIf="delivery.editing" [(ngModel)]="oldDelivery.deliveryTime" />
      <span *ngIf="!delivery.editing">{{delivery.deliveryTime}}</span>
    </td>
    <td>
      <input type="text" *ngIf="delivery.editing" [(ngModel)]="oldDelivery.signature" />
      <span *ngIf="!delivery.editing">{{delivery.signature}}</span>
    </td>
    <td>
      <input type="text" *ngIf="delivery.editing" [(ngModel)]="oldDelivery.updated" />
      <span *ngIf="!delivery.editing">{{delivery.updated}}</span>
    </td>
    <td>
      <button *ngIf="delivery.editing" (click)="updateDelivery();delivery.editing=false">Update</button>
      <button *ngIf="!delivery.editing" (click)="delivery.editing=true;getDelivery(delivery.id);">Edit</button>
    </td>
    <td>
      <button *ngIf="delivery.editing" (click)="delivery.editing=false">Cancel</button>
    </td>
  </tr>
</table>

