table {
  border-collapse: collapse;
}

table tr td,
th {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

contenteditable {
  border: 2px solid blue;
}

agm-map {
//  height: 600px;
  min-height: 200px;
  height: 800px;

}
