<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-sm">
    <i class="fa fa-truck" aria-hidden="true"></i>
  <a routerLink="" class="navbar-brand">ZEDS</a>
  <div class="navbar mr-auto" id="navbarFixed">
      <ul class="navbar-nav">
        <li *ngIf="globals.selectedRoute" class="nav-item">
          <!-- <a class="nav-link" routerLink="route-Orders/{{globals.selectedRoute}}" [class.activated]="currentUrl == '/route-Orders/'+globals.selectedRoute">My Orders</a> -->
          <a class="nav-link" (click)='goToRoutes()'>My Orders</a>
        </li>
      </ul>
    </div>
  <button class="navbar-toggler">
    <span class="navbar-toggler-icon" data-toggle="collapse" data-target="#navbarMenu"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item"><a class="nav-link" routerLink="driver-routes" [class.activated]="currentUrl == '/driver-routes'" [class.activated]="currentUrl == '/'">Routes</a></li>
      <li><a class="nav-link" href="." (click)='refresh()'>Refresh</a></li>
      <li><a class="nav-link" [routerLink]="['/login']">Logout...</a></li>
      <li><a class="nav-link" style="font-size: 0.75em;" href=".">V10.4</a></li>
    </ul>
  </div>
</nav>
