<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-sm">
    <i class="fa fa-truck" aria-hidden="true"></i>
  <a (click)='goToHome()' class="navbar-brand nav-item" style='color:white; font-weight: bold; cursor: pointer;' >ZEDS</a>
  <div class="navbar mr-auto" id="navbarFixed">
      <ul class="navbar-nav">
        <li *ngIf="globals.selectedRoute" class="nav-item">
          <!-- <a class="nav-link" routerLink="route-Orders/{{globals.selectedRoute}}" [class.activated]="currentUrl == '/route-Orders/'+globals.selectedRoute">My Orders</a> -->
          <a style='cursor: pointer;'class="nav-link" (click)='goToRoutes()'>My Orders</a>
        </li>
      </ul>
    </div>
  <button class="navbar-toggler">
    <span class="navbar-toggler-icon" data-toggle="collapse" data-target="#navbarMenu"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav  ml-auto">
      <li style='cursor: pointer;' data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item"><a style='cursor: pointer;'class="nav-link" (click)='goToHome()'>Routes</a></li>
      <li style='cursor: pointer;' [hidden]="!this.globals.pendingSync" data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item"><a class="nav-link" (click)='doSyncWithPost()'><b>Sync ! </b></a></li>
      <li style='cursor: pointer;' [hidden]="this.globals.pendingSync" data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item"><a class="nav-link" (click)='doSyncOnly()'>Sync</a></li>
      <li data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item"><a class="nav-link" [routerLink]="['/login']">Logout...</a></li>
    </ul>
  </div>
</nav>


