h1 {
    font-size:1rem;
}
#myTest {
    font-size:.2rem;
}
h2 {
    font-size:0.8rem;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    h1 {font-size:1.5rem;} /*1rem = 16px*/
    h2 {font-size:1.3rem;}
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    h1 {font-size:2rem;} /*1rem = 16px*/
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    h1 {font-size:2.5rem;} /*1rem = 16px*/
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    h1 {font-size:3rem;} /*1rem = 16px*/    
  }
   
  /*
  ::::::::::::::::::::::::::::::::::::::::::::::::::::
  Custom media queries
  */
   
//   /* Set width to make card deck cards 100% width */
//   @media (min-width: 950px) and (max-width:1100px) { 
//     h1 {font-size:2.75rem;color:red;} 
//   }

#submitButton {
    right: 0;
    bottom: 0;
    position: absolute;
    margin-right: 5px;
    margin-bottom: 5px;	  
    
}

  .modal-header {
    display: block;
  }
  
  #loginForm {
    position: relative;
    border: solid 0.5px rgb(199, 214, 238);
    max-width: 400px;
    background-color: rgba(black,.5)    
}

.loginForm-header {
  display: block;
}

.loginForm-body {
    margin: 5px;
    padding: 5px;
    

}
  .modal-body {
      margin: 5px;
      padding: 5px;
  }
  
  #submitButton {
    margin-right: 5px;
    margin-bottom: 5px;
}
  
  #checkbox {
      padding-left:5px;
  }