<h3 class="headerText">Orders</h3>
<hr class="devide">
<br>

<div class="theList" *ngIf = "allRoutes$">
    <ul [@listStagger]="allRoutes$" style="list-style-type:none">
      <div *ngFor="let orderGroup$ of allRoutes$.orderGroups" >
        <div *ngFor="let order of orderGroup$.Orders" >
          <div *ngIf="orderGroup$.Name === selectedRoute" >
            <li>
              <ul style="list-style-type:none" *ngIf="order.ReceivedBy === '' ">
                <a routerLink="/order-details/{{order.DocumentId}}">{{order.CustomerName}}
                <p>&emsp;{{order.DeliveryAddress1}}, {{order.DeliveryAddress2}}, {{order.DeliveryAddress3}}, {{order.PostCode}}</p>
                <p style="float:right; font-size:12px; padding-right:0px">{{order.selectedRoute}}</p>
                <!-- <p>&emsp;PH: {{order.PhoneNo}}</p> -->
                <p><a class="phoneNo" ng-href='tel:order.PhoneNo'>{{order.PhoneNo}}</a></p>
                <div *ngIf = order.Subtitle>
                  <p><strong>&emsp;{{order.Subtitle}}</strong></p>
                </div>
                </a>
                <p><a class="phoneNo" [href]="'tel:' + order.PhoneNo">{{order.PhoneNo}}</a></p>
              </ul>
            </li>
          </div>
        </div>
      </div>
    </ul>
</div>

