<h3 class = "headerText">Select Your Route</h3>
<button type="button" class="btn btn-info" (click)='addEntry()'>Add Entry</button>
<button type="button" class="btn btn-info" (click)='getEntry()'>Get Entry</button>
<hr class="devide">
<br>

<div *ngIf='loading' class="app-loading-routes">
  <svg class="spinner" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10"/>
  </svg>
  <h6 class="loadingText" style="margin-top: 120px; margin-left: 40px">Loading Routes...</h6>
</div>

<div class="theList" *ngIf = "allRoutes$">
  <ul [@listStagger]="allRoutes$" style="list-style-type:none">
    <div *ngFor="let route of allRoutes$.orderGroups">
      <ul style="list-style-type:none">
        <li>
          <a routerLink="/route-Orders/{{route.Name}}">{{ route.Name }}
          <p>&emsp;Delivery Date: {{route.DeliveryDate | date : "dd.MM.yyyy"}}</p>
          </a>
        </li>
      </ul>
  </div>
  </ul>
</div>
