<h3 class="headerText">Order Details</h3>
<br>
<div class="theList" *ngIf="orderDetail$">
  <ul *ngFor="let driver of orderDetail$.orderGroups">
    <ul *ngFor="let order of driver.Orders">
      <div class="justP strong headerText" *ngIf="order.DocumentId == docID">
        <span>Order Date: {{ order.DocumentDate | date:'dd/MMM/yyyy'}}</span>
        <hr>
        <p id="infoBlock">Customer Code: {{ order.CustomerCode }}<br>
          Delivery Date: {{ order.DocumentDate | date:'dd/MMM/yyyy' }}<br>
          Packing Slip No: {{ order.PackingSlipNo }}<br>
          Order Id: {{ order.DocumentId }}<br>
          Category1: {{ order.Category1 }}<br>
          Category2: {{ order.Category2 }}</p>

        <button mat-button color="accent" (click)="toggleTable()" class="toggle-panel" *ngIf="show">Hide Products</button>
        <button mat-button color="primary" (click)="toggleTable()" class="toggle-panel" *ngIf="!show">View Products</button>
        <table style="width: 100%" [hidden]="hidden">
          <thead>
            <tr class="tableHead">
              <th>Product</th>
              <th>Qty<br>Ordered</th>
              <th style="text-align: center">Qty<br>Accepted</th>
              <th style="text-align: center">Qty<br>Rejected</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let delivery of deliveries; index as i" class="tableRow">
              <td>{{delivery.description}}<br>
                <span>{{delivery.productCode}}</span>
                <span [hidden]=1>{{delivery.lineId}}</span>
                <input type="hidden" *ngIf="delivery.editing" [(ngModel)]="oldDelivery.qtyOrdered" />
              </td>
              <td>{{delivery.qtyOrdered}}
                <br>${{delivery.sellPrice}}
              </td>
              <td style="text-align: center">{{delivery.qtyOrdered-delivery.qtyRejected}}</td>
              <td><a routerLink="/rejectproducts/{{docID}},{{delivery.lineId}}">
                  <button style="width: 100%" color="primary">{{delivery.qtyRejected}}</button>
                </a></td>
              <!-- <td class="textCenter">
                <mat-checkbox [checked]=true></mat-checkbox>
              </td> -->
            </tr>
          </tbody>
        </table>
        <div class="block">
          <span style="font-weight: bolder; text-decoration: underline;">
            Signature</span>
          <div id="myCanvas">
            <signature-pad></signature-pad>
          </div>
          <div class="row">
            <br>
            <button mat-raised-button color="accent" (click)="drawClear()">Clear</button>
            <button mat-raised-button color="warm" (click)="drawComplete()">Test Signature</button>
          </div>
        </div>
        <div class='block'>
          <div *ngIf="!delivered">
            <mat-form-field style="width: 100%;">
              <input type="text" matInput placeholder="Name" [(ngModel)]="oldDelivery.deliveredTo">
            </mat-form-field>
          </div>
          <span *ngIf="delivered">{{oldDelivery.deliveredTo}}</span>
          <div *ngIf="!delivered">
            <mat-form-field style="width: 100%;">
              <mat-select placeholder="Payment" [(ngModel)]="oldDelivery.paymentType">
                <mat-option *ngFor="let pay of pay" [value]="pay.value">
                  {{pay.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <span>{{oldDelivery.paymentType}}</span>
          <div *ngIf="!delivered">
            <mat-form-field style="width: 100%;">
              <input type="number" matInput placeholder="Amount" [(ngModel)]="oldDelivery.paymentAmount">
              <span *ngIf="delivered">{{oldDelivery.paymentAmount}}</span>
            </mat-form-field>
          </div>
          <div *ngIf="!delivered">
            <button color="primary" (click)="postData()">Confirm Order</button>
          </div>
        </div>
      </div>
    </ul>
  </ul>
</div>
