<h3 class='headerText'>Order Details</h3>
<hr class='devide'>
<div class='theList' *ngIf='orderDetails$'>
  <ul *ngFor='let driver of orderDetails$.orderGroups'>
    <ul *ngFor='let order of driver.Orders'>
      <div class='justP strong headerText' *ngIf='order.DocumentId == docID'>
        <span>Order Date: {{ order.DocumentDate | date:'dd/MMM/yyyy'}}</span>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <hr>
        <p id='infoBlock'>
          Customer: {{ order.CustomerName }}<br>
          
          Delivery Date: {{ order.DocumentDate | date:'dd/MMM/yyyy' }}<br>
          Packing Slip No: {{ order.PackingSlipNo }}<br>
          Order Id: {{ order.DocumentId }}<br>
          Category1: {{ order.Category1 }}<br>
          Category2: {{ order.Category2 }}<br>
          Phone: {{order.PhoneNo}}<a class="phoneNo call" [href]="'tel:' + order.PhoneNo">
            <svg 
            viewBox="0 0 1408 1408"
            id="svg3013"
            version="1.1"
            inkscape:version="0.48.3.1 r9886"
            width="24"
            height="24"
            fill="lime"
            sodipodi:docname="phone_font_awesome.svg">
            <metadata
                id="metadata3023">
            </metadata>
           <defs id="defs3021" />
           <g class="phoneNo" transform="matrix(1,0,0,-1,159.45763,1293.0169)" id="g3015">
             <path
                d="m 1408,296 q 0,-27 -10,-70.5 Q 1388,182 1377,157 1356,107 1255,51 1161,0 1069,0 1042,0 1016.5,3.5 991,7 959,16 927,25 911.5,30.5 896,36 856,51 816,66 807,69 709,104 632,152 504,231 367.5,367.5 231,504 152,632 104,709 69,807 66,816 51,856 36,896 30.5,911.5 25,927 16,959 7,991 3.5,1016.5 0,1042 0,1069 q 0,92 51,186 56,101 106,122 25,11 68.5,21 43.5,10 70.5,10 14,0 21,-3 18,-6 53,-76 11,-19 30,-54 19,-35 35,-63.5 16,-28.5 31,-53.5 3,-4 17.5,-25 14.5,-21 21.5,-35.5 7,-14.5 7,-28.5 0,-20 -28.5,-50 -28.5,-30 -62,-55 -33.5,-25 -62,-53 -28.5,-28 -28.5,-46 0,-9 5,-22.5 5,-13.5 8.5,-20.5 3.5,-7 14,-24 10.5,-17 11.5,-19 76,-137 174,-235 98,-98 235,-174 2,-1 19,-11.5 17,-10.5 24,-14 7,-3.5 20.5,-8.5 13.5,-5 22.5,-5 18,0 46,28.5 28,28.5 53,62 25,33.5 55,62 30,28.5 50,28.5 14,0 28.5,-7 14.5,-7 35.5,-21.5 21,-14.5 25,-17.5 25,-15 53.5,-31 28.5,-16 63.5,-35 35,-19 54,-30 70,-35 76,-53 3,-7 3,-21 z"
                id="path3017"                          
                inkscape:connector-curvature="0"/>
           </g>
          </svg>
        </a></p>

        <button type="button" class="btn btn-info toggle-panel"  style="width: 150px"(click)='toggleTable()' *ngIf='show'>Hide Products</button>
        <button type="button" class="btn btn-info toggle-panel"  style="width: 150px"(click)='toggleTable()' *ngIf='!show'>View Products</button>
        <table style='width: 100%; max-width: 500px;' [hidden]='hidden'>
          <thead>
            <tr id='infoBlock' class='tableHead'>
              <th>Product</th>
              <th>Qty<br>Ordered</th>
              <th style='text-align: center'>Qty<br>Accepted</th>
              <th style='text-align: center'>Qty<br>Rejected</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let line of order.Lines; index as i' class='tableRow'>
              <td>{{line.Description}}<br>
                 <span [hidden]=1>{{line.LineId}}</span>
              </td>
              <td>{{line.QuantityOrdered}}
                <br>${{line.SellPrice}}
              </td>
              <td style='text-align: center'>{{line.QuantityOrdered-line.QuantityRejected}}</td>
              <td>
                <a *ngIf='!delivered && line.QuantityRejected === 0' routerLink='/rejectproducts/{{docID}},{{line.LineId}}'>
                  <button style='width: 100%' color='primary'>{{line.QuantityRejected}}</button>
                </a>
                <a *ngIf='!delivered && line.QuantityRejected !== 0' routerLink='/rejectproducts/{{docID}},{{line.LineId}}'>
                  <button style='width: 100%; background-color:maroon; font-weight: bold; ' color='primary'>{{line.QuantityRejected}}</button>
                </a>
                <span *ngIf='delivered' style='width: 100%; background-color:maroon; font-weight: bold; color: white'>
                  {{line.QuantityRejected}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <div style='margin-top: 5px; margin-bottom: 5px'>
            <button type="button" class="btn btn-info" style="width: 150px" (click)="openModal('addNotes_Modal')" data-target="#addNotes_Modal">Add Notes</button>
        </div>        
        <br>
        <span style='font-weight: bolder; text-decoration: underline;'>
          Signature </span>
          <div id="signatureContainer" style="max-width:500px; position: relative;">
            <div id='signature-pad' class='signature-pad' >
              <signature-pad [options]="signaturePadOptions"></signature-pad>
            </div>
            <div style='margin-top: 5px; margin-bottom: 5px'>
              <button type="button" class="btn btn-info" style="width: 150px" (click)='drawClear()'>Clear</button>
              <!-- <button type="button" class="btn btn-info" style="width: 120px; float:right;" routerLink="/signature">Fullscreen</button>  -->
              <!-- <button mat-raised-button color='warm' (click)='drawComplete()'>Test Signature</button> -->
            </div>
          </div>

        <div *ngIf='!delivered' class='block' style='margin-bottom: 5px; border: 2px solid red;'>
          <mat-form-field style='width: 95%; color: black;'>
            <input type='text' matInput placeholder='Name' [(ngModel)]='oldOrder.ReceivedBy'>
          </mat-form-field>
        </div>
        <div class='block' style='margin-bottom: 5px; font-weight: bold; color: black; padding-left: 5px;' *ngIf='delivered'>
          <span>{{oldOrder.ReceivedBy}}</span>
        </div>
        <div class='block' *ngIf='!delivered' style='margin-bottom: 5px; border: 2px solid red;'>
          <mat-form-field style='width: 95%; color: black;'>
            <mat-select placeholder='Payment' [(ngModel)]='oldOrder.PaymentMethod' (selectionChange)="changePaymentMethod($event.value)">
              <mat-option *ngFor='let pay of pay' [value]='pay.value'>
                {{pay.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class='block' style='margin-bottom: 5px;' *ngIf='delivered'>
          <span>{{oldOrder.PaymentMethod}}</span>
        </div>
        <div class='block' style='margin-bottom: 5px; border: 2px solid red;' *ngIf='!delivered'>
          <mat-form-field style='width: 95%; color: black;'>
            <input type='number' min='0' onfocus="this.value=''" matInput placeholder='Amount' [(ngModel)]='oldOrder.PaymentAmount' (keyup)="changePaymentAmount($event)">
            <span *ngIf='delivered'>{{oldOrder.PaymentAmount}}</span>
          </mat-form-field>
        </div>
        <div *ngIf='!delivered' style='margin-bottom: 5px; text-align: center; max-width: 500px;'>
           <button type="button" class="btn btn-info btn-lg"  style="font-weight: bold"  (click)='postData()'>Confirm Order</button>
           
        </div>
      </div>
    </ul>
    
  </ul>
</div>

<jw-modal id="addNotes_Modal">
  <div class="jw-modal">
    <div class="jw-modal-body">
      <h3 class="titleText">Delivery Notes</h3>
      <button class="closeButton" style="float: right;" (click)="closeModal('addNotes_Modal');" >Close</button>
      <br />
      <textarea [(ngModel)]='DriverNotes' id ='textBox' style="border: 3px solid black; min-width: 100%;max-width: 500px; min-height: 80%" autofocus></textarea>
      
    </div>
  </div>
  <div class="jw-modal-background"></div>    
</jw-modal>


<!-- <modal id="driverNotes_modal">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: <input type="text" [(ngModel)]="bodyText" />
            </p>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal> -->